
*{
    margin: 0;padding: 0;
	box-sizing: border-box; 
	font: 'Open Sans', sans-serif;
	overflow: auto; padding: 0;
	cursor: default;
}	

body{ height: auto; background-color: rgb(241, 241, 241)}

/* #DevelopBy{
    margin-left: 1em;
    color: rgb(153, 149, 149);
} */

/*---------------- Header --------------*/

header div { 
    display: flex;
    margin: 10px 0;
    justify-content: center;
    background-color: #1b1515;
    box-shadow: 1px 4px 8px rgba(126, 126, 126, 0.938);
}

.logospan {
    flex: .8;
    padding-top: 5px;
    margin-left: 4em;
}

img{ cursor: pointer;}

/*------ Tooltip ------*/
.imgtool { /* Container for our tooltip */
    position: relative; 
    display: inline-block;
    margin-left: 1em;
    overflow: visible;
}
   
.imgtool .tooltip { /* This is for the tooltip text */
    visibility: hidden;
    width: 150px;
    /* font-family: ; */
    background-color: transparent;
    /* background-color: #8412d5; */
    box-shadow: 4px 2px 8px rgba(250, 248, 248, 0.808);
    color: white;
    text-align: center;
    margin: 12px 0 0 12px;
    padding: 3px;
    border-radius: 4px; 
    position: absolute;
    z-index: 1;
}
   
.imgtool:hover .tooltip { /* Makes tooltip text visible when text is hovered on */
    visibility: visible;
}

#heading {
    flex: 1;
}

h1{
    padding: 5px;
    border: none;
    font-family: Lucida Handwriting;
    color: white;
    text-shadow: 6px 4px 5px #6e6d6d;
}

/*--------------- Body Start ------------*/

a {
    text-decoration: none; 
    /* padding-top: 1.5em;  */
    cursor: pointer;
	font-size: 20px; 
    color: white; 
    display: block;
}

main {
    display: flex; 
    width: 50%;
    margin-top: 1em;
    margin-left: 10px;
    flex-direction: column;
}

.row {
    display: flex; 
    margin-top: 10px;
    margin-left: 4em;
    justify-content: center;
}
.row-sepretion{ 
    width: 17em; height: 3em;
    margin: 15px; padding-top: 9px;
    text-align: center; 
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.row-sepretion:hover{
    width: 16em;
    border-radius: 0;
    box-shadow: 3px 7px 8px rgba(126, 126, 126, 0.938);
    
}


